<div class="w-full max-w-2xl grid grid-cols-1 my-8 px-4">

    <section class="my-4 border-b-4 border-blue-900">
        <img class="my-4" src="/static/img/img-20200828-wa0013.jpg" alt="Frederick Ngoza training Badia players in Italy" title="Frederick Ngoza training Badia players in Italy">

        <div class="my-8 border-t-4 border-blue-900">
            <h3 class="my-4 underline" id="about"><a href="#about">ABOUT RUGBY READY</a></h3>

            <p class="my-4">The Rugby Ready Clinic is deeply interested in the game of rugby and the individual skills development of young players. The goal is to provide a safe environment for high-performance athletes to further develop their skills in preparation for the 2021 SASRA National weeks.</p>

            <p class="my-4">Offering 1 on 1 skills, conditioning and analysis sessions to our clients to not only help these athletes to be in the best physical shape but also to broaden their understanding of game situations.</p>
        </div>

    </section>

    <img src="/static/img/img-20200807-wa0017-1.jpg" alt="Frederick Ngoza playing for Badia Club in Italy" title="Frederick Ngoza playing for Badia Club in Italy">

    <section class="my-4 border-b-4 border-t-4 border-blue-900">
        <p class="my-8 text-center">Rugby Ready Clinic</p>

        <p class="my-8 text-center">Cape Town, South Africa 7130</p>

        <p class="my-8 text-center underline"><a href="tel:+27780389358">+27780389358</a></p>

        <p class="my-8 text-center underline"><a href="https://api.whatsapp.com/send?phone=27780389358&text=Hello%2C%20Freddy!">Send Whatsapp</a></p>

        <p class="mb-4 text-center">freddyy882@gmail.com</p>
    </section>


    <section class="my-4">
        <h3 id="badia" class="my-4 underline"><a href="#badia">Badia Under 18 (U/18) Italy</a></h3>

        <ul class="list-disc my-4 px-4">
            <li>100% winning record in regular season</li>
            <li>Winning the 2018-19 U/18 Serie A</li>
            <li>Promoted to U/18 Eccellenza (1st League)</li>
            <li>4 players selected for Italy U/18 Academy Trials</li>
            <li>9 players selected to represent Rovigo Region</li>
        </ul>

        <img src="/static/img/img-20200828-wa0013.jpg" alt="Frederick Ngoza training Badia players in Italy" title="Frederick Ngoza training Badia players in Italy">
    </section>

    <section class="my-4 border-t-4 border-blue-900">
        <h3 class="my-4 underline" id="covid-safety-measures" ><a href="#covid-safety-measures"># Covid Safety measures</a></h3>

        <p class="my-4">Due to the challenges we are currently facing, we will be taking strict precautions to ensure the safety of my athletes.</p>

        <ul class="list-disc my-4 px-4">
            <li>Coach will do a covid test once every 2 weeks.</li>
            <li>All athletes must present a negative covid test. (Dinesh: How often?)</li>
            <li>All equipment will be sanitized before and after each individual session.</li>
        </ul>
    </section>

    <section class="my-4">
        <h3 class="underline" id="available-packages"><a href="#available-packages"># Available packages</a></h3>

        <h4 id="package-1" class="underline"><a href="#package-1">Package 1</a></h4>

        <ul class="list-disc my-4 px-4">
            <li>Rugby specific training</li>
            <li>Individuals skills focus (1 hour x 3 per week)</li>
        </ul>

        <h4 id="package-2" class="underline"><a href="#package-2">Package 2</a></h4>

        <ul class="list-disc my-4 px-4">
            <li>Rugby specific training</li>
            <li>Individuals skills focus (1 hour x 3 per week)</li>
            <li>Gym personal training and individual conditioning program (1 hour x 3 per week)</li>
        </ul>

        <h4 id="package-3" class="underline"><a href="#package-3">Package 3</a></h4>

        <ul class="list-disc my-4 px-4">
            <li>Rugby specific training</li>
            <li>Individuals skills focus (1 hour x 3 per week)</li>
            <li>Gym personal training and individual conditioning program (1 hour x 3 per week)</li>
            <li>1 hour of video analysis per week</li>
        </ul>

        <img src="/static/img/screenshot_20200830-012615-1.jpg" alt="Frederick Ngoza training Badia players in Italy" title="Frederick Ngoza training Badia players in Italy">
    </section>

    <section class="my-4 border-t-4 border-blue-900">
        <h3 id="message" class="my-4 underline"><a href="#message">SEEING THROUGH THE FOG</a></h3>

        <p class="my-8">In this time of uncertainty for schools rugby and rugby in general I would like to offer 12 determined players the opportunity to have the same amount of preparation I was fortunate enough to have before my national week(2009).</p>

        <p class="my-8">In times like these, it is the one willing to take responsibility for their own destiny and dreams that will succeed.</p>

        <p class="my-8">Frederick Ngoza</p>
    </section>

</div>